// Fontes
$fonte-principal: 'Space Mono', monospace;
$fonte-capa: 'Cedarville Cursive', cursive;
$fonte-secundaria: 'Bebas Neue', sans-serif;

// Cores

$cor-primaria: #071952;
$cor-secundaria: #FFFFFF;
$cor-terciaria: #000000;
$cor-quartenaria: #D8E3E7;
